<%- include("./partials/header")%>
      <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Movie App!</h1>
            <p class="lead">A simple application to help you to get information about any movie.</p>
            <hr class="my-4">
            <p>It uses OMDB APi to get info of your need.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </div>
      </div>
<%- include("./partials/footer")%>

   